<footer>
    <div class="footer-introduction">
        <div class="footer-introduction-text">
            <h3><b>Könyvmolyok Menedéke</b></h3>
            <p>Egy csodás hely, ahol könyvek sokasága található. <br>Kis könyvtár, de szerető munkatársak várnak téged. <br>Gyere, és csatlakozz eme élményhez!</p>
            <ul>
                <a href="https://www.tiktok.com/@konyvmolyokmenedeke" target="_blank"><li><i class="fa-brands fa-instagram" style="font-size: 25px"></i></li></a>
                <a href=""></a><li><i class="fa-brands fa-x-twitter" style="font-size: 25px"></i></li>
                <li><i class="fa-brands fa-facebook" style="font-size: 25px"></i></li>
                <li><i class="fa-brands fa-tiktok" style="font-size: 25px;"></i></li>
            </ul>
            <span><i class="fa-regular fa-copyright" style="background-color: inherit;"></i>Vizsgaremek &nbsp;Zrt. Minden jog fenntartva!</span>
        </div>
    </div>
    <div class="footer-img">
        <a href="/"><img src="/img/logo-color-big.png" alt="Könyvmolyok Menedéke logo kék háttérrel"></a>
    </div>
</footer>