<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Főoldal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/login-register.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/f5d27edf17.js" crossorigin="anonymous"></script>
    <script src="/js/script.js" defer></script>
</head>
<body>
    <%- include("nav.ejs") -%>

    <main>
        <section id="bevezeto" class="bevezeto">
            <div class="bevezeto-szoveg">
                <h1>Jöjj el hozzánk még ma!</h1>
                <p>Egy fiktív kisváros újonnan nyílt könyvtára vagyunk.</p>
                <p>Több, mint 200 féle könyv közül válogathatsz.</p>
            </div>
            <img src="/img/index-img-test.jpg" alt="" style="border-radius: 20px;">
        </section>
    </main>

    <!-- <%- include("footer.ejs") -%> -->
</body>
</html>