<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bejelentkezés - Könyvmolyok menedéke</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login-register.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/f5d27edf17.js" crossorigin="anonymous"></script>
    <script src="/js/script.js" defer></script>
</head>
<body>
    <%- include("nav.ejs") -%>
    <main>
        <div class="login">
            <img src="/img/test.png" alt="">
            <form action="/login" method="POST">
                <div class="login-welcome">
                    <span style="font-size: 1.6rem;">ÜDVÖZLÜNK ISMÉT!</span>
                    <span>Kölcsönözz könyveket még ma!</span>
                </div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="password">Jelszó</label>
                <input type="password" name="password" id="password">
                <span style="margin-bottom: 35px; text-align: center;"><a href="#">Elfelejtetted a jelszavadat?</a></span>
                <button type="submit">Bejelentkezés</button>
                <span style="margin-top: 20px; text-align: center;"><a href="/register">Még nincs fiókod? Regisztrálj itt!</a></span>
            </form>
        </div>
    </main>
    <%- include("footer.ejs") -%>
</body>
</html>