<nav>
    <div class="overlay">
        <div class="overlay-header">
            <a href="/" class="overlay-logo">
                <img src="/img/logo-no-background.png" alt="Könyvmolyok Menedéke logo">
            </a>
            <div class="close">
                <i class="fa-solid fa-xmark" style="font-size: 30px;"></i>
            </div>
        </div>
        <ul class="menu-overlay">
            <a href="/"><li>Főoldal</li></a>
            <a href="#"><li>Kosár</li></a>
            <a href="#"><li>Könyveink</li></a>
        </ul>
        <a href="/login" class="overlay-login-button">Bejelentkezés</a>
    </div>
    <a href="/">
        <div class="logo-div">
            <img src="/img/logo-no-background.png" alt="Könyvmolyok Menedéke logo"><p>Könyvmolyok Menedéke</p>
        </div>
    </a>
    <div class="tool-div">
        <a href="/login">Bejelentkezés</a>
        <a href="#">Kosár</a>
        <a href="#">Könyveink</a>
    </div>
    <div class="hamburger">
        <span class="hamburger-item"></span>
        <span class="hamburger-item"></span>
        <span class="hamburger-item"></span>
    </div>
</nav>