<nav>
    <div class="overlay">
        <ul class="menu-overlay">
            <li><a href="/login">Bejelentkezés</a></li>
            <li><a href="#">Kosár</a></li>
            <li><a href="#">Rólunk</a></li>
        </ul>
        <div class="close">
            <i class="fa-solid fa-xmark" style="font-size: 30px;"></i>
        </div>
    </div>
    <a href="/">
        <div class="logo-div">
            <img src="/img/logo-no-background.png" alt=""><p style="margin-bottom: 1rem;">Könyvmolyok Menedéke</p>
        </div>
    </a>
    <div class="tool-div">
        <a href="/login">Bejelentkezés</a>
        <a href="#">Kosár</a>
        <a href="#">Rólunk</a>
    </div>
    <div class="hamburger">
        <span class="hamburger-item"></span>
        <span class="hamburger-item"></span>
        <span class="hamburger-item"></span>
    </div>
</nav>