@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto";
    background: linear-gradient(to right, rgb(15, 15, 15), rgb(20, 20, 20));
    color: white;
}

main, .book-card-information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.book-card-information .book-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-card-information .book-card .book-card-img {
    margin-right: 80px;
}

.book-card-information .book-card .book-card-img img {
    width: 220px;
    height: auto;
    border-radius: 40px;

}

.book-card-information .book-card .book-card-details {
    display: flex;
    flex-direction: column;
}

.book-card-information .book-card .book-card-details .book-name {
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 550px;
}

.book-card-information .book-card .book-card-details table {
    margin-top: 20px;
}

th {
    vertical-align: middle;
    width: 250px;
}

td {
    width: 250px;
}

.book-card-information .book-card .book-card-details button {
    margin-top: 10px;
}

.book-card-information .book-card-description {
    width: 800px;
    margin-top: 30px;
}

.more-books {
    margin-top: 50px;
}