footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    /* background-color: white; */
    background-color: rgb(26, 26, 26);
    color: white;
}

footer .footer-introduction {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .footer-introduction .footer-introduction-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 0;
}

footer .footer-introduction .footer-introduction-text p {
    margin: 16px 0;
}

footer .footer-introduction .footer-introduction-text ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}

footer .footer-introduction .footer-introduction-text ul li{
    margin-right: 20px;
}

footer .footer-introduction .footer-introduction-text span i {
    cursor: default;
}

footer .footer-img {
    display: flex;
    flex-direction: column;
}

footer .footer-img a {
    margin-bottom: 10px;
}

i {
    margin-right: 10px;
    cursor: pointer;
    background-color: rgb(72, 72, 72);
    border-radius: 20px 11px;
    padding: 10px;
}

.h3, h3 {
    font-size: 1.17em;
    margin: 18px 0;
}


@media (max-width: 600px) {
    footer .footer-introduction .footer-introduction-text {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }

    footer .footer-introduction .footer-introduction-text ul {
        justify-content: center;
    }

    footer .footer-img {
        display: none;
    }
}