@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    font-family: "Roboto";
    box-sizing: border-box;
    background-image: url("/img/bg-image.jpg");
    height: 100%;
}

:root {
    --transition: 400ms ease-in-out;
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgb(156, 156, 183);
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(200%);
    transition: transform var(--transition);
}

.menu-overlay, .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.menu-overlay li {
    padding: 30px;
    color: white;
}

.overlay .close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
}

.overlay .close i {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

.logo-div {
    display: flex;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.7s;
    font-weight: bold;
}

.logo-div p {
    margin-top: 24px;
    margin-left: 15px;
    text-align: center;
}

.tool-div {
    display: flex;
    font-size: 1.3rem;
    justify-content: space-around;
    align-items: center;
}

.tool-div a {
    cursor: pointer;
    margin-right: 20px;
}

.hamburger {
    display: none;
    flex-direction: column;
    transition: 350ms ease-in-out;
    cursor: pointer;
    margin-right: 15px;
}

.hamburger .hamburger-item {
    background: black;
    height: 3px;
    width: 2rem;
    margin: 4px;
    border-radius: 10px;
}

i {
    margin-right: 10px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    min-height: 100vh;
    width: 100%;
}

.login form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    border: 1px black solid;
    box-shadow: -10px 10px 50px black;
}

.login label {
    font-size: 1.2rem;
}

.login .login-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: 1.3rem;
}

.login input {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 10px;
    font-family: "Jacquarda Bastarda";
}

.login button {
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

.login button:hover {
    background-color: rgb(189, 187, 187);
}

.login button span {
    margin-right: 7px;
}

a {
    color: rgb(20 110 190);
}

i {
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: white;
}

footer .footer-introduction {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .footer-introduction .footer-introduction-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer .footer-introduction .footer-introduction-text ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}

footer .footer-introduction .footer-introduction-text ul li{
    margin-right: 20px;
}

footer .footer-img {
    display: flex;
    flex-direction: column;
}

footer .footer-img a {
    margin-bottom: 10px;
}

::placeholder {
    font-family: "Roboto";
    overflow: hidden;
}

::-ms-input-placeholder {
    font-family: "Roboto";
}


@media (max-width: 774px) {
    nav {
        padding: 0;
    }

    .overlay.transform {
        transform: translateY(0);
        transition: transform var(--transition);
    }
    
    .logo-div img {
        display: none;
    }

    .tool-div {
        display: none;
    }

    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .login .login-welcome {
        text-align: center;
    }

    footer .footer-introduction .footer-introduction-text {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }

    footer .footer-introduction .footer-introduction-text ul {
        justify-content: center;
    }

    footer .footer-img {
        display: none;
    }
}