@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    scrollbar-width: thin;
    scrollbar-color: rgb(158, 155, 155) black;
}

body {
    background-image: none;
    font-family: "Roboto";
    margin: 0;
}

.introduction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #A68F72; */
    padding: 20px;
    background-image: url("/img/bg-introduction.jpg");
    background-position: top;
    height: 800px;
}

.introduction .introduction-text {
    color: white;
    position: absolute;
    top: 260px;
    margin: 10px;
}

.introduction .introduction-text h1 {
    font-size: 2.7rem;
}

.introduction .introduction-text p {
    font-size: 1.5rem;
    margin: 0;
}

.introduction .introduction-text p:last-child {
    margin-bottom: 40px;
}

.services {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #A6806A; */
    background-color: rgb(15, 15, 15);
    padding: 20px;
}

.row {
    margin-left: 0;
    margin-right: 0;
    /* display: flex; */
}

.services .cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .cards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #9e7761; */
    /* background-color: rgb(25, 25, 25); */
    background: linear-gradient(to bottom, rgb(25, 25, 25), rgba(50, 42, 42, 0.628));
    padding: 15px;
    /* clip-path: polygon(17% 1%, 83% 0, 96% 50%, 86% 100%, 15% 100%, 7% 52%); */
    border-radius: 20px 30px;
    font-size: 1.2rem;
    max-width: 400px;
    min-width: 200px;
    height: 370px;
    color: white;
    box-shadow: -4px 0px 5px rgba(74, 73, 73, 0.493);
}

.services .cards .card:not(:last-child){
    margin: 0 30px 20px 0;
}

.services .cards .card:last-child {
    margin-bottom: 20px;
}

.services .cards .card img {
    border-radius: 40px;
    margin-bottom: 20px;
}

.services .cards .card span {
    text-align: center;
}

.brief-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: rgb(223, 223, 223);
    padding: 30px;
}

.brief-text p {
    width: 50%;
    font-size: 1.5rem;
}

.brief-text p:first-child {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid white;
}

.brief-text p span {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.reviews {
    background-color: rgb(15, 15, 15);
    padding: 20px;
    padding-top: 10px;
    font-size: 2rem;
}

.reviews .review-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.reviews .review-cards h1 {
    color: white;
    margin: 50px 0 80px 0;
    text-align: center;
}

.reviews .review-cards .review {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(25, 25, 25); */
    background: linear-gradient(to bottom, rgb(25, 25, 25), rgb(29, 32, 37));
    border-left: rgb(155, 155, 155) solid .3px;
    border-top: rgb(120, 120, 120) solid 1px;
    /* box-shadow: -6px 10px 10px rgba(41, 38, 32, 0.7); */
    width: 100%;
    max-width: 800px;
    min-height: 800px;
    border-radius: 20px 10px;
    padding: 35px;
    margin-bottom: 50px;
    color: rgb(216, 216, 216);
    margin-right: 10px;
}

.reviews .review-cards .review:last-child {
    margin-right: 0;
}

.reviews .review-cards .review img {
    border-radius: 50%;
}

.reviews .review-cards .review p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    font-size: 1.5rem;
}

.reviews .review-cards .review p span:first-child {
    font-weight: bold;
    text-align: center;
}

.reviews .review-cards .review p i {
    background-color: inherit;
    font-size: 2.7rem;
    margin: 10px 0;
    padding: 0;
    cursor: default;
}

.reviews .review-cards .review .stars {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.reviews .review-cards .review .stars i {
    background-color: inherit;
    margin: 0;
    color: orange;
    font-size: 2.3rem;
    cursor: default;
}


@media (max-width: 992px) {
    .introduction {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .introduction .introduction-text {
        text-align: center;
    }
}

@media (max-width: 870px) {
    .services .cards .card {
        max-width: 1000px;
        width: 100%;
    }

    .services .cards .card:first-child, .services .cards .card:nth-child(2) {
        margin: 0 0 15px 0;
    }

    .brief-text p {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .introduction .introduction-text {
        transform: scale(0.9);
    }
}

@media (max-width: 425px) {
    .introduction .introduction-text {
        transform: scale(0.8);
    }
    
    .brief-text p {
        width: 90%;
        transform: scale(0.85);
    }

    .brief-text p:first-child {
        margin-bottom: 0;
        padding-bottom: 70px;
    }

    .reviews .review-cards .review .stars {
        align-self: center;
    }
    
    .reviews .review-cards .review .stars i {
        font-size: 1.8rem;
    }
}

@media (max-width: 375px) {
    .brief-text {
        padding: 10px;
    }

    .reviews .review-cards .review img {
        width: 80%;
    }

    .reviews .review-cards .review p span, .reviews .review-cards .review .stars i{
        font-size: 0.8em;
    }

    .reviews .review-cards .review p span i {
        font-size: 1.8em;
    }
}