@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-image: none;
    font-family: "Roboto";
    margin: 0;
}

.introduction {
    display: flex;
    justify-content: space-around;
    background-color: rgb(212, 212, 177);
    padding: 20px;
}

.introduction .introduction-text h1 {
    font-size: 2rem;
}

.introduction .introduction-text p {
    font-size: 1.3rem;
    margin: 0;
}

.introduction .introduction-text p:last-child {
    margin-bottom: 40px;
}

.introduction img {
    width: 31%;
    height: 100%;
    margin: 0;
}


@media (max-width: 992px) {
    .introduction {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .introduction .introduction-text {
        text-align: center;
    }

    .introduction img {
        width: 85%;
    }
}