@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: "Roboto";
    background: linear-gradient(to right, rgb(15, 15, 15), rgb(20, 20, 20));
}

:root {
    --transition: 350ms ease-in-out; 
}

.nav-books {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.97);
    padding-top: 20px;
}

.nav-books li {
    padding: 13px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    clip-path: polygon(24% 5%, 68% 0, 100% 20%, 100% 80%, 80% 96%, 27% 94%, 0% 80%, 7% 24%);
    transition: var(--transition);
}

.nav-books li:hover {
    background-color: white;
    color: black;
}

.nav-books li:not(:last-child) {
    margin-right: 25px;
}

.books-and-category {
    margin: 10px;
    margin-top: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
}

.category {
    margin-bottom: 100px;
}

.category .category-name {
    display: flex;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
}

.category .category-name span {
    width: 100%;
    text-align: center;
}

.category .books {
    display: flex;
    align-items: center;
    justify-content: center;
}

.category .books .book {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    border: 1px white solid;
    padding: 20px;
    cursor: pointer;
    /* min-width: 300px;
    max-width: 400px;
    min-height: 400px; */
    width: 300px;
    height: 440px;
}

/* .category .books .book:not(:last-child) {
    margin-right: 20px;
} */


.category .books .book img {
    align-self: center;
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.category .books .book .title {
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    text-align: center;

}

.category .books .book .author {
    text-align: center;
    color: white;
    opacity: 0.8;
}

.category .books .book button {
    background: linear-gradient(to right, rgb(47, 95, 158), rgb(35, 43, 139));
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    transition: var(--transition);
    margin-top: auto;
    margin-bottom: 10px;
}

.category .books .book button:hover {
    transform: translateY(-5px);
}


@media (max-width: 620px) {
    .category .books .book {
        width: 100%;
        height: 390px;
    }
}